* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.container {
    display: table;
    text-align: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

section {
    display: table-cell;
    vertical-align: middle;
    min-width: 20%;
    max-width: 80%;
    margin: 0 -0.5% 24px -0.5%;
}

.item {
    background: #2db34a;
    color: #fff;
    display: block;
    font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
    padding: 24px 5px;
    text-align: center;
    border: 1px solid #000;
}
